@import 'tailwindcss';

:root {
	/* Forzamos que estas variables sean siempre claras */
	--background: #f9fafb; /* Un gris muy sutil (zinc-50) */
	--foreground: #18181b; /* Un negro casi total (zinc-900) */
	--brand: #c8102e;
	--brand-border: rgba(200, 16, 46, 0.15);
	--login-bg: image-set(
		url("/_next/image?url=https%3A%2F%2Faulavirtual.upc.edu.pe%2Fbbcswebdav%2Finstitution%2FBranding%2FNew_Login%2Ffondo-bb.jpg&w=960&q=35")
			1x,
		url("/_next/image?url=https%3A%2F%2Faulavirtual.upc.edu.pe%2Fbbcswebdav%2Finstitution%2FBranding%2FNew_Login%2Ffondo-bb.jpg&w=1920&q=50")
			2x
	);
}

/* ELIMINAMOS TODO EL BLOQUE @media (prefers-color-scheme: dark)
   para que no cambie a negro automáticamente.
*/

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	/* Opcional: suavizar el renderizado de fuentes */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.not-found [data-layout-sidebar],
body.not-found [data-layout-navbar] {
	display: none;
}
